<footer>
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="logo-rights">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.svg" alt="">
                    </a>
                    <span>© 2019 EMVY. Все права сохранены.</span>
                    <div class="development">
                        <p>Разработка сайта </p>
                        <a target="_blank" href="javascript:void(0)">GreatPix&AZRO.Studio</a>
                    </div>
                </div>
                <div class="footer-menu">
                    <nav>
                        <ul>
                            <li><a href="product-page.html">Гель для умывания</a></li>
                            <li><a href="product-page.html">Ночной крем</a></li>
                            <li><a href="product-page.html">Дневной крем</a></li>
                            <li><a href="product-page.html">Крем для век</a></li>
                            <li><a href="product-page.html">Сыворотка</a></li>
                            <li><a href="product-page.html">Маска для лица</a></li>
                            <li><a href="product-page.html">Скраб</a></li>
                            <li><a href="product-page.html">Тоник</a></li>
                            <li><a href="product-page.html">Молочко</a></li>
                            <li><a href="product-page.html">EMVYBOX</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="menu-delivery">
                    <nav>
                        <ul>
                            <li><a href="pay-delivery.html">Оплата и Доставка</a></li>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="certifications.html">Сертификаты</a></li>
                            <li><a href="ingrediyenty.html">Ингредиенты</a></li>
                            <li><a href="club.html">Клуб привилегий</a></li>
                            <li><a href="stocks.html">Акции</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-contact">
                    <div class="tel">
                        <a href="tel:8800707-15-08">8 (800) 707-15-08</a>
                        <span class="callback_js">обратный звонок</span>
                    </div>
                    <a class="mail" href="mailto:info@emvycosmetics.com">info@emvycosmetics.com</a>
                    <ul class="social">
                        <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-instagram-1"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-vk"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <img src="../img/footer-img.png" alt="" class="footer-img">
    </div>
</footer>