
.icon-arrow-down:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-coin:before { content: '\e804'; } /* '' */
.icon-day:before { content: '\e805'; } /* '' */
.icon-explamation:before { content: '\e806'; } /* '' */
.icon-filter:before { content: '\e807'; } /* '' */
.icon-healthcare-and-medical:before { content: '\e808'; } /* '' */
.icon-info:before { content: '\e809'; } /* '' */
.icon-instagram:before { content: '\e80a'; } /* '' */
.icon-lotus:before { content: '\e80b'; } /* '' */
.icon-nav:before { content: '\e80c'; } /* '' */
.icon-nav-copy:before { content: '\e80d'; } /* '' */
.icon-night:before { content: '\e80e'; } /* '' */
.icon-play:before { content: '\e80f'; } /* '' */
.icon-review:before { content: '\e810'; } /* '' */
.icon-scientific:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-star-filled:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-telegram:before { content: '\e815'; } /* '' */
.icon-tools-and-utensils:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\e817'; } /* '' */
.icon-whatsapp:before { content: '\e818'; } /* '' */
.icon-wishlist-filled:before { content: '\e819'; } /* '' */
.icon-wishlist:before { content: '\e81a'; } /* '' */
.icon-scroll:before { content: '\e81b'; } /* '' */
.icon-plys:before { content: '\e81c'; } /* '' */
.icon-layers:before { content: '\e81d'; } /* '' */
.icon-shape:before { content: '\e81e'; } /* '' */
.icon-acne:before { content: '\e81f'; } /* '' */
.icon-no-animals:before { content: '\e820'; } /* '' */
.icon-answer:before { content: '\e821'; } /* '' */
.icon-download:before { content: '\e822'; } /* '' */
.icon-clock:before { content: '\e823'; } /* '' */
.icon-driver:before { content: '\e824'; } /* '' */
.icon-cdek:before { content: '\e825'; } /* '' */
.icon-payment:before { content: '\e826'; } /* '' */
.icon-return:before { content: '\e827'; } /* '' */
.icon-facebook:before { content: '\e828'; } /* '' */
.icon-payment-terminal:before { content: '\e829'; } /* '' */
.icon-warehouse:before { content: '\e82a'; } /* '' */
.icon-close-1:before { content: '\e82b'; } /* '' */
.icon-lock:before { content: '\e82c'; } /* '' */
.icon-facebook-icon:before { content: '\e82d'; } /* '' */
.icon-google-icon:before { content: '\e82e'; } /* '' */
.icon-instagram-icon:before { content: '\e82f'; } /* '' */
.icon-twitter-icon:before { content: '\e830'; } /* '' */
.icon-vk:before { content: '\e831'; } /* '' */
.icon-youtube:before { content: '\e832'; } /* '' */
.icon-instagram-1:before { content: '\e833'; } /* '' */
.icon-cemca:before { content: '\e834'; } /* '' */
.icon-gali:before { content: '\e835'; } /* '' */
.icon-ruca:before { content: '\e836'; } /* '' */
.icon-vindowe:before { content: '\e837'; } /* '' */